#heading {
  color: #fff;
  text-align: center;
}

.item {
  height: 10rem;
  margin: auto;
  flex-grow: 1;
  padding: 1rem;

  &--selected {
    border-color: black;
  }
}

.question-box {
  box-sizing: border-box;
  position: fixed;
  bottom: 0rem;
  width: 100%;
  padding: 0.5rem;
}
